.compare-container{
	display:flex;
	justify-content: center;
}

.compare-container-border{
	width: 200px;
	text-align: center;
	border: none;
  border-radius: 0.2em;
  font-size: 1.5em;
  text-align: center;
  box-shadow: 0 0 1em 0.25em rgba(0,0,0,0.2);
  background-color: #FFF;
}
.compare-container-border-hide{
	display: none;
}